:root {
  --primary: #ebd03b;
  --complementary: #4a3beb;
  --primary-medium: #ab9e55;
  --complementary-dark: #5d5796;
  --primary-dark: #6b6750;
  --dark: #333;
  --light: #f1f1f1;
  --med-light: #ccc;
  --med-dark: #666;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--dark);
  background: var(--primary);
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--dark);
  height: 4rem;
  z-index: 1;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 5px 10px var(--dark);
}

header * {
  margin: 0;
}

header a {
  text-decoration: none;
  color: var(--light);
}

#logo-text {
  display: flex;
  /* width: min-content; */
  padding: 0.5rem;
  /* flex: 1; */
  font-family: 'Josefin Sans', 'Poppins', sans-serif;
}

#logo-text:hover {
  cursor: pointer;
  text-shadow: 0 0 10px var(--complementary);
}

#logo-lunch {
  color: var(--primary);
}

#logo-app {
  color: var(--light);
}

main {
  margin: 4rem auto 4rem auto;
  width: 90%;
  background-color: var(--light);
  padding: 1rem;
  border: 1px solid var(--med-dark);
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0 5px 10px var(--dark);
}

table {
  table-layout: fixed;
}

#menu {
  display: none;
}

#restaurant-table {
  width: 100%;
  /* border: 1px solid var(--med-dark); */
  border-collapse: collapse;
  background: var(--light);
}

#restaurant-table td,
#restaurant-table th {
  /* border: 1px solid var(--med-dark); */
  padding: 0.5rem;
}

#restaurant-table tr:nth-child(even) {
  background: var(--med-dark);
  color: var(--light);
}

/* #restaurant-table tr:nth-child(odd) {
  background: var(--med-dark);
  color: var(--light);
} */

#restaurant-table tr:first-child {
  background-color: var(--light);
  color: var(--dark);
}

#restaurant-table tr:not(:first-child):hover {
  cursor: pointer;
  background: var(--primary);
  color: var(--dark);
  /* box-shadow: 0 0 10px var(--complementary); */
}

#restaurant-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.4);
}

#modal-content {
  background: #fff;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 1rem;
}

#close-modal {
  position: fixed;
  right: 20px;
  top: 10px;
  font-size: 2rem;
  cursor: pointer;
  color: var(--primary-medium);
  text-shadow: 0 0 10px var(--primary-dark);
}

#menu-scope-buttons {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

#restaurant-info p {
  margin: 0;
}

#menu-scope-buttons {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 0 0;
}

#menu-scope-buttons button {
  padding: 0.5rem;
  border: none;
  /* border: 1px solid var(--med-dark); */
  /* border-bottom: none; */
  border-radius: 0.5rem 0.5rem 0 0;
  font-family: inherit;
  background-color: var(--primary-dark);
  color: var(--light);
}

#menu-scope-buttons button:hover {
  cursor: pointer;
  background-color: var(--primary-medium);
}

#menu-scope-buttons button:disabled {
  background-color: var(--primary);
  color: var(--dark);
  cursor: default;
}

#menu-table {
  width: 100%;
  /* border: 1px solid #ccc; */
  border-collapse: collapse;
  background: var(--light);
  /* margin: 0 0 1rem 0; */
}

#menu-table tr:first-child {
  background-color: var(--primary);
}

#menu-table td,
#menu-table th {
  padding: 0.5rem;
}

.table-date {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  margin: 3px 0;
  background-color: var(--primary);
  text-transform: capitalize;
}

.menu-row:nth-child(even) {
  background: var(--med-light);
}

#dark-toggle {
  border: none;
  background: none;
}

#dark-toggle:hover {
  cursor: pointer;
  text-shadow: 0 0 10px var(--complementary);
}

#dark-toggle i {
  font-size: 2rem;
  color: var(--light);
}

#light-icon {
  display: none;
}

body.dark {
  color: var(--light);
  background-color: var(--primary-dark);
}

body.dark main {
  background-color: var(--dark);
}

body.dark #restaurant-table {
  background-color: var(--dark);
}

body.dark #restaurant-table tr:nth-child(even) {
  background: var(--med-dark);
}

body.dark #restaurant-table tr:first-child {
  background-color: var(--dark);
  color: var(--light);
}

body.dark #restaurant-table tr:not(:first-child):hover {
  background: var(--primary);
  color: var(--dark);
}

body.dark #modal-content {
  background: var(--dark);
  color: var(--light);
}

body.dark #menu-table {
  background: var(--dark);
}

body.dark #menu-table tr:nth-child(even) {
  background: var(--med-dark);
}

body.dark #menu-table tr:first-child,
body.dark .table-date,
body.dark #restaurant-modal button {
  color: var(--dark);
}

@media (max-width: 600px) {
  main {
    width: 100%;
    border: 0;
    padding: 0;
    box-shadow: 0 0 0;
  }

  table th,
  table td {
    /* white-space: nowrap; */
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #modal-content {
    width: 100%;
    border: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
  }

  #restaurant-info {
    padding: 1rem;
  }

  #menu-table {
    margin: 0;
  }
}
