body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background: #f1f1f1;
}

main {
  margin: 1rem;
}

#menu {
  display: none;
}

#menu-table {
  /* width: 80%; */
  border: 1px solid #ccc;
  border-collapse: collapse;
  background: #fff;
  margin: 20px auto;
}

#menu-table td,
#menu-table th {
  border: 1px solid #ccc;
  padding: 0.5rem;
}

#restaurant_table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

#restaurant_table td,
#restaurant_table th {
  border: 1px solid #ccc;
  padding: 0.5rem;
}

#restaurant_table tr:nth-child(even) {
  background: #ddd;
}

#restaurant_table tr:hover {
  background: #ccc;
}

#restaurant_table td:hover {
  cursor: pointer;
}

.menu-row:nth-child(even) {
  background: #ddd;
}

.table-date {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  margin: 3px 0;
}

#restaurant-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.4);
}

#modal-content {
  background: #fff;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#close-modal {
  position: fixed;
  right: 10px;
  top: 0;
  font-size: 2rem;
  cursor: pointer;
}

#menu-scope-buttons {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
